    /* width */

    ::-webkit-scrollbar {
        width: 15px;
    }

    /* Track */

    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    /* Handle */

    ::-webkit-scrollbar-thumb {
        background: var(--primary);
        border-radius: 10px;
    }

    /* Handle on hover */

    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary);
    }